body {
    margin: 0;
    padding: 0;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: black;
}

.header {
    width: 1110px;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px 0 50px 0;
    grid-column-start: auto;
}

.header_logo {
    margin-left: 130px;
    margin-top: 40px;


}


.header_link {
    display: grid;
}

ol {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;    
    list-style: none;
    text-align: center;
    font-weight: bold;

}
.link {
    text-decoration: none;
    display: grid;
    margin-top: 100px;
    color: black;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}
/* HEADER */


/* BODY */


/* CAROUSEL */

#carousel {
    
}

.carousel-inner {
    z-index: -1;
}

#carousel .carousel-inner img {
   height: auto;
   width: auto;
}
/* CAROUSEL */

/* Jornada Seccion */

.section1 {
    position: relative;
    top: -40px;
    z-index: 100;
    background-color: rgb(245, 245, 245);
    /* padding: 0px 10px; */
    margin: 0px;
}

.secciones {
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 0px;
}

.secciones2 {
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 0px;
}

.fecha {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.35px;
    text-transform: uppercase;
}

.div2 {
    display: grid;
    justify-items: stretch;
    -webkit-box-align: center;
    align-items: center;
    grid-template:
        "dateArea dateArea dateArea"
        "firstTeamArea goalsArea secondTeamArea"
        "firstTeamArea actionArea secondTeamArea";
    gap: 10px;
    padding: 0px;
}

.div3 {
    display: grid;
    justify-items: center;
    align-content: center;
    text-transform: capitalize;
    grid-area: dateArea / dateArea / dateArea / dateArea;
}

h2 {
    font-size: 24px
    font-weight: bold;

}

span {
    font-size: 12px;
    margin: 0px 5px;
}

.match {
    width: 100%;
    height: 100%;
}

.acm {
    font-size: 16px;
}

.milan {
    width: 100%;
    height: 100%;
    max-width: 58px;
    max-height: 58px;
    margin: 0px 10px;
}

.bolonia {
    width: 100%;
    height: 100%;
    max-width: 58px;
    max-height: 58px;
    margin: 0px 10px;
}

.marcador {
    font-size: 34px;
}
/* Jornada Seccion */


/* BODY */


/* FOOTER */ 

footer {
    height: 517px;
    background-color: black;
    display: block;
    margin-top: 150px;
}

.footer_tall {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: auto;
}


.logo_footer {
    margin-left: 165px;
    margin-top: -90px;
}

h1 {
    font-size: 30px;
    color: white;
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
    font-family: MilanTypeRev, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.44px;
    margin-top: 35px;

}

.container {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
}

ul {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 35px;
}

li {
    padding: 0px 16.5px;
}

.guion {
    width: calc(100% - 800px);
    opacity: 0.1;
    margin: 20px auto 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
}

.copi {
    font-size: 10px;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.83;
    letter-spacing: 0.33px;
    color: rgb(255, 255, 255);
    padding: 30px 0px;
}

p {
    margin: 0px;
}

.down {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: -110px;
}

.end {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-right: 15px;
    text-transform: uppercase;

}